body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f1116;
    min-width: 140vh;
    color: white;
    font-family: KaTeX_Main;
  }
  .container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: #ed7571;
    padding: 30px;
    border-radius: 10px;
    border-color: #ed7571;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .txt_field {
    position: relative;
    width: 400px;
    margin: 20px 0;
  }
  .logbtn{
    width: 100%;
    padding: 12px;
    background: rgb(78, 2, 6);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  .txt_field input {
    width: 376px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
  }
  
  .txt_field input:focus {
    border-color: white;
  }
  
  .txt_field label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }
  
  .txt_field input:focus ~ label,
  .txt_field input:not(:placeholder-shown) ~ label {
    top: 5px;
    font-size: 12px;
    color: white;
  }
  
  .pass {
    text-align: right;
    font-size: 14px;
    color: white;
    cursor: pointer;
  }
  
  .pass:hover {
    text-decoration: underline;
  }
  
  .logbtn:hover {
    background: rgb(194, 8, 17);
  }
  

  